@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

body {
    font-size: 18px;
    line-height: 130%;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #232323;
    background-color: #fff;
}

.section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    /* background: aqua; */
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 84px;
    margin: 30px 0 11px
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin: 10px;
}

.header a{
    text-decoration: none;
    color: #101010;
}

.header .header-phone{
    color: #A52424;
}

.photographer-julie{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.photographer-julie-name{
    display: flex;
    flex-direction: column;
    width: 443px;
    height: 170px;
    justify-content: center;
    align-items: self-start;
}

.photographer-julie-name .name{
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.2px;
    margin: 10px 0;
}

.photographer-julie-name .work{
    font-size: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 1.1px;
    margin-top: 20px;
}

.photographer-julie-name .julie-btn{
    border: 1px solid #A52424;
    border-radius: 5px;
    width: 336px;
    height: 60px;
    text-decoration: none;
    padding: 20px;
    color: #A52424;
    margin-top: 50px;
}

.photographer-julie-photo{
    width: 674px;
    height: 677px;
}

.about-me{
    display: flex;
    flex-direction: column;
    /* background: aquamarine; */
}

.about-me .name-section{
    font-size: 64px;
    color: #232323;
}

.content-about-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.julie-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 3px 1px rgb(235, 233, 233);
    width: 343px;
    height: 561px;
    position: relative;
    /* padding-top: 10px; */
}

.j-ph-img{
    width: 278px;
    height: 371px;
    position: absolute;
    left: 120px;
    top: 70px;
}

.julie-text{
    width: 641px;
    position: relative;
}

.photo-text{
    font-size: 22px;
    color: #A52424;
    position: absolute;
    bottom: 20px;
    left: 120px
}

.julie-text h4{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.9px;
    color: #232323;
}

.julie-text-title{
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 1.1px;
    color: #A52424;
}

/* .julie-text-photo{
    border: 1px solid black;
} */

.empty{
    /* background: yellow; */
    width: 567px;
    height: 330px;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 1px 1px rgb(236, 235, 235);
    position: absolute;
    top: 300px;
    right: -30px;
    z-index: -1;
}

.portfolio{
    /* background: red; */
    display: flex;
    flex-direction: column;
    height: 1100px;
}

.portfolio-name h2{
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
    color: #232323;
}

.portfolio-cards{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}

.cards{
    width: 377;
    height: 576px;
    display: flex;
    flex-direction: column;
}

.cards:nth-child(2){
    margin-left: 20px;
    margin-right: 20px;
}

.portfolio-cards .cards h3{
    color: #101010;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 1.1px;
}

.portfolio-cards .cards h4{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.9px;
}

.portfolio-btn{
    border: 1px solid #A52424;
    border-radius: 5px;
    width: 202px;
    height: 60px;
    padding: 20px;
    text-decoration: none;
    color: #A52424;
    text-align: center;
}

.prises{
    display: flex;
    flex-direction: column;
}

.prises-title{
    color: #232323;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;

}

.prises .prises-photos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price-of-service{
    display: flex;
    flex-direction: row;
}

.card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 1px solid grey; */
    box-shadow: 1px 1px 1px 1px rgb(230, 227, 227);
    /* padding: 20px; */
    width: 509px;
}

.card img{
    width: 290px;
    height: 290px;
    margin: 0 auto;

}

.card h3{
    text-align: center;
}

.time-of-service{
    text-align: right;
    /* padding-left: 70px; */
    margin-left: 70px;
}

.name-of-service{
    margin-left: 60px;
}

.price-number-of-service{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.portfolio-btn-2{
    border: 1px solid #A52424;
    border-radius: 5px;
    width: 202px;
    height: 60px;
    padding: 20px;
    text-decoration: none;
    color: #A52424;
    text-align: center;
    font-size: 16px;
}

.price-number-of-service-number{
    text-align: left;
}

.price-number-of-service-number-btn{
    text-align: right;
}

.price-number-of-service-number{
    font-size: 28px;
}

.contact-to-julie{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.contact-to-julie-title{
    color: #232323;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
    margin-top: 50px;
}

.contact-to-julie-photos{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    width: 750px;
}

.yakor{
    position: relative;
}

.img_2{
    width: 329px;
    height: 585px;
    /* top: 5px; */
    left: 250px;
    position: absolute;
}

.img_1{
    width: 285px;
    height: 492px;
    position: absolute;
    top: 50px;
}

.contact-to-julie-form{
    display: flex;
    flex-direction: column;
}

.field-name, .field-email, .mess {
    width: 500px;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid lightgrey;
    color: lightgrey;
}

.field-name{
    margin-top: 0px;
}

.btn{
    width: 500px;
    margin-top: 50px;
    padding: 20px;
    color: #A52424;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    background: white;
}

.mess{
    height: 200px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* min-height: 84px; */
    /* margin: 30px 0 11px; */
    border-top: 1px solid lightgray;
    margin-top: 100px;
    padding-top: 40px;
}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.soc-fb{
    margin-left: 50px;
    margin-right: 50px;
    width: 22px;
    height: 22px;
}

.ins{
    width: 22px;
    height: 22px;
}

.mail{
    width: 22px;
    height: 22px;
}